.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 3%;
}

.navbar_elements {
    margin-left: auto;
    text-align: right;
    font-size: 20px;
}

.image-logo{
    width: 200px;
    height: 70px;
    margin-left: 30px;
}

.button {
    background-color: PaleTurquoise;
    border-radius: 7px;
    height: 40px;
    margin-bottom: 5px;
}

.index-flexbox-column {
    position: relative;
    top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 70vh;
}

.index-items {
    font-size: 30px;
    width: 30vw;
    height: 300px;
    text-align: center;
    margin: 10px;
}

.img-thumbnail{
    max-width: 10vw;
    max-height: 50vh;
    border-radius: 20%;
}

.img-description {
    display: block;
    background-color: Cyan;
    width: 10vw;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    font-size: 1.2vw;
    position: absolute;
    top: 65%;
    left: 55%;
}

.phrase {
    font-size: 3vw;
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    margin: 0;
}


.star {
    background: blue;
    content: "\2605";
    font-size: 2vw;
    color: yellow;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.recipe {
    font-size: 1vw;
}

.search-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.search-image {
    margin: 1em;
    border-radius: 20px;
    max-height: 60vh;
    flex: 1 1 0;
}

.information {
    min-width: 40%;
    margin: 1em;
    background-color: moccasin;
    border-radius: 20px;
    padding-left: 1em;
    flex: 1 1 0;
    max-height: 60vh;
}

.gohome {
    position: relative;
    top: 2vh;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
    display: inline-block;
    background: Cyan;
    font-size: 40px;
    border-radius: 20px;
    color: black;
}

.search-background {
    background-image: url(/static/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 100px);
}

.submit {
    color: black;
    border-radius: 5px;
    height: 6vh;
    width: 40vw;
}

.search_form {
    color: white;
    position: relative;
    top: 5vh;
    background-color: black;
    width: 60vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.search-gohome {
    position: relative;
    top: 10vh;
    text-align: center;
    width: 300px;
    display: inline-block;
    background: Cyan;
    font-size: 40px;
    border-radius: 20px;
    color: black;
}

.login-form {
    display: grid;
    place-items: center;
    align-content: center;
    height: 50vh;
}

.username {
    color: black;
    border-radius: 5px;
    height: 6vh;
    width: 20vw;
}

.password {
    position: relative;
    top: 1vh;
    color: black;
    border-radius: 1vh;
    height: 6vh;
    width: 20vw;
}

.login {
    color: white;
    background-color: rgb(90,20,255);
    border: 1px solid rgba(90,20,255,1);
    border-radius: 5vw;
    height: 6vh;
    width: 20vw;
    position: relative;
    top: 2vh;
    font-size: 3vh;
}

.register {
    display: inline-block;
    color: white;
    background-color: rgb(228,23,98);
    border: 1px solid rgba(228,23,98,1);
    border-radius: 5vw;
    text-align: center;
    line-height: 6vh;
    height: 6vh;
    width: 20vw;
    font-size: 3vh;
}

.register:hover {
    color: white;
    text-decoration: none;
}

.save-drink {
    align-content: center;
    height: 50vh;
    position: relative;
    top: 20px;
}

.save {
    color: white;
    background-color: rgb(255,20,90);
    border: 1px solid rgba(255,20,90,1);
    border-radius: 5vw;
    height: 6vh;
    width: 20vw;
    font-size: 3vh;
}

.saved-image {
    margin: 1em;
    border-radius: 20px;
    max-height: 15vh;
    flex: 1 1 0;
}