<!-- I used the login.html code from the finance project to setup/start this index file!-->

{% extends "layout.html" %}

{% block main%}
    <!-- I learned how to use flash() from: https://www.youtube.com/watch?v=abCSKRMGZ3A-->
    {% for message in get_flashed_messages() %}

        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>

    {% endfor %}
    <h1 style="position: relative; top: 3vh"><i>Please Login to Continue!</i></h1>
    <form id="form" class="login-form" action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Username" class="username">
        <input type="password" id="password" name="password" placeholder="Password" class="password">
        <button class="login">Login</button>
    </form>
    <h3 style="font-size: 1.5vw;"><i>Haven't registered yet?</i></h3>
    <a class="register" href="/register">Register</a>


{% endblock %}