{% extends "layout.html" %}

{% block main%}

    <div class="search-background">
        {% for message in get_flashed_messages() %}

          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>

        {% endfor %}
        <h1 class="search_form">Write the cocktail's name to obtain the recipe!</h1>
        <div class="index-flexbox-column" style="justify-content: center; height: 10vh;">
            <form id="form" role="search" style="position: relative; top: 8vh" action="/search" method="post">
                <input type="search" id="name" name="name" placeholder="Enter cocktail name" class="submit">
                <button class="button" style="height: 6vh">Search!</button>
            </form>
        </div>
    </div>


{% endblock %}